* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 64px;
}

body {
  margin: 0;
  background-color: transparent;
}

::selection {
  background: var(--mantine-color-brand-5);
  color: white;
}
